:root {
  --color-bright: #f0932b;
  --color-white-ish: #f2e9de;
  --color-black-ish: #0f1108;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black-ish);
  background: white;
}
.app-container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 80vh;
  background: var(--color-bright);
  margin: 3rem;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
}

header {
  text-align: right;
  border-bottom: 1px solid var(--color-white-ish);
}

main {
  background: var(--color-white-ish);
  padding-right: 2rem;
  padding-left: 2rem;
}

h1 {
  font-weight: 800;
  color: white;
}

h2 {
  margin-top: 3.5rem;
  /* font-weight: 400; */
  text-transform: uppercase;
  font-style: italic;
}

h3 {
  font-weight: 400;
  margin: 3rem 0;
}

ion-icon {
  color: var(--color-white-ish);
}

.designer-list {
  margin: 2rem 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto;
}

.designer-item {
  margin: 2rem 0;
}

footer {
  border-top: 1px solid var(--color-white-ish);
}

footer p {
  text-transform: uppercase;
  font-size: .8rem;
  margin-top: 1.5rem;
  color: white;
}
