html
  head
    title Untitled Designer Database
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/css/style.css")

    script.
        console.log('hello there 👋')

  body
    div(class='app-container')
      nav 
        ion-icon(name="menu")
      header
        h1 Untitled <br>Designer <br>Database
      main
        block content
      footer
        p Made by 
          a(href="https://twitter.com/_moodybones") Mel Jones
