:root {
  --color-bright: #f0932b;
  --color-white-ish: #f2e9de;
  --color-black-ish: #0f1108;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black-ish);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.app-container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto 1fr auto;
  min-height: 80vh;
  max-width: 40em;
  width: 100%;
  background: var(--color-bright);
  margin: 3rem;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  list-style: none;
}

header {
  text-align: right;
  border-bottom: 1px solid var(--color-white-ish);
}

main {
  background: var(--color-white-ish);
  padding-right: 2rem;
  padding-left: 2rem;
}

h1 {
  font-weight: 800;
  color: white;
}

h2 {
  margin-top: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}

h3 {
  font-weight: 400;
  margin: 3rem 0;
}


footer {
  border-top: 1px solid var(--color-white-ish);
}

footer p {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  color: white;
}
